:root {
  background-color: black;
  padding: 2em;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: aqua;
  border: 2px solid aqua;
  font-size: 3rem;
  width: 33%;
  height: 50vh;
  border-radius: 50%;
}

.container-alarm {
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: aqua;
}

#alarmSubmit {
  border-radius: 1em;
  cursor: pointer;
  background-color: black;
  color: aqua;
  border: 0.5em solid aqua;
  width: 20%;
  margin: auto;
  padding: 0.5em;
}

.cont {
  font-size: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form-group {
  display: flex;
  gap: 2em;
}

.text {
  border: 0.25em solid aqua;
  outline: none;
  width: 60%;
  margin: auto;
}

.text input {
  width: 99%;
}
